{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    * {
        margin: 0;
        padding: 0;
    }

    .heading {
        font-size: 80px;
        text-align: center;
        font-weight: 900;
        background-color: rgb(0, 140, 255);
        color: #fff;
        padding: 5px 0;
    }

    .about-body {
        max-width: 1200px;
        margin: 50px auto;
    }

    .first-para {
        font-size: 20px;
        margin: 15px 0;
    }

    .second-para {
        font-size: 18px;
        margin: 10px 0;
    }

    .third-para {
        font-size: 18px;
        margin: 10px 0;
    }

    .fourth-para {
        font-size: 18px;
        margin: 10px 0;
    }
</style>

<main>
    <div>
        <h1 class="heading">About <span>SatTrack</span></h1>
        <div class="about-body">
            <p class="first-para">This Web Application take the Input from User and Database for a desired Indian
                satellite and based on
                the inputs
                specified by the user, project the orbital positions on the
                Earth’s surface to generate sensor footprint.</p>

            <p class="second-para">Following are the inputs which can be provided by the user to the application to
                guide them
                for determining the imaging opportunities. <br>
                1) Coordinates of point of interest in terms of Latitude and Longitude on Earth. <br>
                2) Sensor within the payload. <br>
                3) Possible swath which can be imaged with the particular sensor. <br>
                4) Tilt of the satellite within the known agility of the platform. <br>
                5) Orbital parameters like semi-major axis, eccentricity, inclination, longitude of ascending node,
                argument of perigee and true anomaly based on the publicly available information in the form
                of two line elements (TLE)</p> <br>
            <h3>Objective : </h3>
            <p class="third-para">Objective is of finding the possibility or predict the time of imaging a particular
                object/place (Lat-Long) on Earth by an Earth observing satellite with given sensor specifications, orbit
                and attitude definitions under various Orbit Preturbations</p>
            <h3>Background : </h3>
            <p class="fourth-para">Low Earth observation satellites orbits the Earth surface at an altitude of around
                300
                to 1000km in Sun synchronous polar orbit. The sensors are placed on the satellite platform to take
                pictures of the Earth’s surface. Users are interested in the opportunities when their area of interest
                is
                going to be imaged in order to meet their application requirement. This
                software based application enable them to know the imaging opportunities apriori for their
                planning. Agile satellite platforms have the capability to image certain area with tilts which is
                defined
                by revisit constraints. This application should be able to guide the user for imaging of their
                area of interest taking into account the tilt requirements. This information can be shared by them to
                satellite pass programming persons.</p>
        </div>
    </div>
</main>
{% endblock content %}
