{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="main-container">
    <div class="container">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="{% static 'first.jpg' %}" alt=""></div>
                <div class="swiper-slide"><img src="{% static 'sdsc.jpg' %}" alt=""></div>
                <div class="swiper-slide"><img src="{% static 'satellite.png' %}" alt=""></div>
                <div class="swiper-slide"><img src="{% static 'Cartosat-3-catlog.png' %}" alt=""></div>
                <div class="swiper-slide"><img src="{% static 'cartosat-2-catlog.jpg' %}" alt=""></div>
                <div class="swiper-slide"><img src="{% static 'EOS-07-catlog.jpg' %}" alt=""></div>
                <div class="swiper-slide"><img src="{% static 'PSLV-catlog.jpg' %}" alt=""></div>
                <div class="swiper-slide"><img src="{% static 'second.jpg' %}" alt=""></div>
                <div class="swiper-slide"><img src="{% static 'third.jpg' %}" alt=""></div>
                <div class="swiper-slide"><img src="{% static 'fourth.jpg' %}" alt=""></div>
                <div class="swiper-slide"><img src="{% static 'fifth.jpg' %}" alt=""></div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <div class="search-container">
        <form class="form-container">
            <div class="searchInput">
                <input id="search" type="text" placeholder="Search..." autofocus required />
                <button type="submit">Go</button>
                <div class="resultBox">
                </div>
                <div class="icon"><i class="fas fa-search"></i></div>
            </div>
        </form>
    </div>
</div>
<script type='module'>

    var swiper = new Swiper(".mySwiper", {
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
    const searchInput = document.querySelector(".searchInput");
    const input = searchInput.querySelector("input");
    const resultBox = searchInput.querySelector(".resultBox");
    const icon = searchInput.querySelector(".icon");
    let linkTag = searchInput.querySelector("a");
    let webLink;

    // if user press any key and release
    let suggestions;
    input.onkeyup = (e) => {
        let userData = e.target.value; //user enetered data
        let emptyArray = [];
        if (userData) {
            let data1 = searchWord(userData);
            let suggestions = data1['sat_list'];
            let norad_list = data1['id_dict'];

            emptyArray = suggestions;

            emptyArray = emptyArray.map((data) => {
                // passing return data inside li tag
                let tag1 = "{% url 'list_view' %}";
                let url = tag1 + `/${norad_list[data]}`;

                return data = `<li><a href = "${url}">` + data + `</a></li>`;
            });
            console.log(emptyArray);

            searchInput.classList.add("active"); //show autocomplete box
            showSuggestions(emptyArray);
            let allList = resultBox.querySelectorAll("li");
            for (let i = 0; i < allList.length; i++) {
                //adding onclick attribute in all li tag
                allList[i].setAttribute("onclick", "select(this)");
            }
        } else {
            searchInput.classList.remove("active"); //hide autocomplete box
        }
    };

    function searchWord(word) {

        let suggestions;

        $.ajax({
            url: "{% url 'search_word' %}",
            type: "GET",
            async: false,
            dataType: "json",
            data: { 'word': word },
            success: (data) => {
                suggestions = data;
            }
        });
        return (suggestions);
    }

    function showSuggestions(list) {
        let listData;
        if (!list.length) {
            userValue = inputBox.value;
            listData = '<li>' + userValue + '</li>';
        } else {
            listData = list.join("");
        }
        resultBox.innerHTML = listData;
    }
    function select(e) {
        input.value = e.innerHTML;
    }
</script>





<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

    :root {
        --rad: 15px;
        --dur: .3s;
        --color-dark: #2f2f2f;
        --color-light: #fff;
        --color-brand: #57bd84;
        --font-fam: 'Lato', sans-serif;
        --height: 5rem;
        --btn-width: 75px;
        --bez: cubic-bezier(0, 0, 0.43, 1.49);
    }

    .main-container {
        height: 90vh;
        position: relative;
    }

    .container {
        height: 90vh;
    }

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .search-container {
        position: absolute;
        top: 45%;
        left: 34%;
        z-index: 1000;
    }

    .searchInput {
        background: #fff;
        width: 100%;
        border-radius: 15px;
        position: relative;
        box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
    }

    .searchInput input {
        height: 55px;
        width: 100%;
        outline: none;
        border: none;
        border-radius: 15px;
        padding: 0 60px 0 20px;
        font-size: 18px;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    }



    .searchInput .resultBox {
        padding: 0;
        opacity: 0;
        pointer-events: none;
        max-height: 280px;
        overflow-y: auto;
    }

    .searchInput.active .resultBox {
        opacity: 1;
        pointer-events: auto;
    }

    .resultBox li {
        list-style: none;
        padding: 8px 12px;
        display: none;
        width: 100%;
        cursor: pointer;
    }

    .searchInput.active .resultBox li {
        display: block;
    }

    .searchInput.active .resultBox li a {
        text-decoration: none;
        color: black;
    }

    .resultBox li:hover {
        background: #efefef;
    }

    form {
        position: relative;
        width: 30rem;
        background: var(--color-brand);
        border-radius: var(--rad);
    }

    input,
    button {
        height: 55px;

        font-size: 20px;
        border: 0;
        color: var(--color-dark);

    }

    input[type="search"] {
        outline: 0;
        width: 100%;
        background: var(--color-light);
        padding: 0 1.6rem;
        border-radius: var(--rad);
        appearance: none;
        transition: all var(--dur) var(--bez);
        transition-property: width, border-radius;
        z-index: 1;
        position: relative;
    }

    button {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        width: 75px;
        font-weight: bold;
        background: var(--color-brand);
        border-radius: 0 15px 15px 0;
    }

    input:not(:placeholder-shown) {
        border-radius: var(--rad) 0 0 var(--rad);
        width: calc(100% - var(--btn-width));

        +button {
            display: block;
        }
    }
</style>

{% endblock content %}