{% extends 'base.html' %}
{% block content %}

<div class="divide">
  <div class="tle-data">
    <h3 class="sat-name">{{satellite.name}}</h3>
    <ul>
      <li>Norad ID : <span>{{satellite.norad_id }}</span></li>
      <li>Launch Year : <span>{{data.launch_year}}</span></li>
      <li>First derivative mean motion : <span>{{data.first_derivative_mean_motion}}</span></li>
      <li>Second derivative mean motion : <span>{{data.second_derivative_mean_motion}}</span></li>
      <li>Bstar : <span>{{data.bstar}}</span></li>
      <li>Inclination : <span>{{data.inclination}}</span></li>
      <li>RAAN : <span>{{data.RAAN}}</span></li>
      <li>Longitude of ascending node : <span>{{data.longitude_of_ascending_node}}</span></li>
      <li>Eccentricity : <span>{{data.eccentricity}}</span></li>
      <li>Argument of perigee : <span>{{data.argument_of_perigee}}</span></li>
      <li>Argument of periapsis : <span>{{data.argument_of_periapsis}}</span></li>
      <li>Mean anomaly : <span>{{data.mean_anomaly}}</span></li>
      <li>Mean motion : <span>{{data.mean_motion}}</span></li>
      <li>Semi major axis : <span>{{data.semi_major_axis}}</span></li>
      <li>Period : <span>{{data.period}}</span></li>
    </ul>
  </div>
  <div class="satellite_details">
    <div class="sat-tle">
      <h4>Latest Tle(Two line element) :</h4>
      <div class="tle">{{ satellite.tle_now }}</div>
      <div class="last-fetch"><b>Last fetch date: </b> {{ satellite.last_tle_update }}</div>
      <button id="fetch_tle" type="button"> Fetch Again 🐶</button>
    </div>
    <div class="sensors">
      <h4 class="sensor_head">Available Sensors :</h6>

        <table class="t3">
          <tr>
            <th>Select</th>
            <th>Name</th>
            <th>Resolution Type</th>
            <th>Resolution [m]</th>
            <th>swath [km]</th>
            <th>Tilting type</th>
            <th>Positive Tilt</th>
            <th>Negative Tilt</th>
          </tr>
          {% for sensor in sensors %}
          <tr>
            <td><input type="radio" name="sensor" id="0" value="{{ sensor.name }}" checked="checked"></td>
            <td>{{ sensor.name }}</td>
            <td>{{ sensor.resolution_type }}</td>
            <td>{{ sensor.resolution_value }}</td>
            <td>{{ sensor.swath }}</td>
            <td>{{ sensor.tilting_type }}</td>
            <td>{{ sensor.positive_tilting }}</td>
            <td>{{ sensor.negative_tilting }}</td>

          </tr>
          {% endfor %}

        </table>
        <button onclick="get_tracking()">Track 🚀</button>

    </div>
  </div>
</div>




<script>
  function get_tracking() {

    var ele = document.getElementsByName('sensor');

    for (i = 0; i < ele.length; i++) {
      if (ele[i].checked) {

        window.location.href = "{% url 'detail_view' satellite.norad_id %}" + `/${ele[i].value}`;
      }
    }

  }
</script>

<style>
  .sat-name {
    margin-left: 40px;
    font-size: 1.3rem;
  }

  .sat-tle {
    width: 680px;
  }

  .divide {
    height: 91vh;
    display: flex;
    justify-content: space-between;
    background: #e3f2fd;
  }


  .sat-data li {
    padding: 5px;
  }

  .sat-tle * {
    padding: 5px;
  }

  .sat-tle {
    padding-right: 50px;
  }

  .tle-data li {
    font-weight: bold;
  }

  .tle-data li span {
    font-weight: 600;
    color: #4d4747;
  }

  button {
    margin: 10px;
    background-color: #ffc600;
    color: rgb(0, 9, 86);
    font-weight: 600;
    border-radius: 40px;
    padding: 10px;
    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
    cursor: pointer;
  }

  button:hover {
    color: black;
    background-color: #ffcd1a;

  }

  button:active {

    scale: 0.99;

  }

  .t3 {
    padding: 10px;
    margin: 10px 40px;
  }

  .t3 th {
    font-weight: 400;
  }

  .t3 th,
  .t3 td {
    border-bottom: 1px solid black;
    padding: 5px 10px;
  }

  .sensors {
    padding: 30px;
  }
</style>
{% endblock content %}
