<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="test.css">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <ul class="nav-list">
            <li class="logo"><h2>satTrack 🪨</h1></li>
            <li>contact us</li>
            <li>search for satellite</li>
        </ul>
    </div>
    <div class="main-block">
        <div class="cesiumContainer">sdf</div>
        <table class="t1">
            <tr>
                <td>NORAD ID:</td>
                <td>445</td>
            </tr>
            <tr>
                <td>LOCAL TIME:</td>
                <td>445</td>
            </tr>
            <tr>
                <td>UTC:</td>
                <td>445</td>
            </tr>
            <tr>
                <td>LATITUDE:</td>
                <td>445</td>
            </tr>
            <tr>
                <td>LONGITUDE</td>
                <td>445</td>
            </tr>
            <tr>
                <td>ALTITUDE [km]:</td>
                <td>445</td>
            </tr>
            <tr>
                <td>ALTITUDE [mi]:</td>
                <td>445</td>
            </tr>
            <tr>
                <td>SPEED [km/s]:</td>
                <td>445</td>
            </tr>
            <tr>
                <td>AZIMUTH:</td>
                <td>445</td>
            </tr>
            <tr>
                <td>ELEVATION:</td>
                <td>445</td>
            </tr>
            <tr>
                <td>RIGHT ASCENSION:</td>
                <td>445</td>
            </tr>
            <tr>
                <td>DECLINATION:</td>
                <td>445</td>
            </tr>
        </table>
    </div>
    <div class="sat-details">
        <div class="sat-name">CARTOSAT-3</div>
        <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis sequi repellat, sint quo aspernatur facilis est suscipit quod hic sit dolores expedita odit ad vel itaque placeat. Culpa cumque facilis ipsum dolorum beatae cum nesciunt. Architecto vitae aliquid beatae ullam?</div>
        <table class="t2">
        <tr>
            <td>Satellite Name</td>
            <td>23</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>23</td>
        </tr>
        <tr>
            <td>Orbit</td>
            <td>23</td>
        </tr>
        <tr>
            <td>Launch Date</td>
            <td>23</td>
        </tr>
        <tr>
            <td>Life</td>
            <td>23</td>
        </tr>
        <tr>
            <td>Swath</td>
            <td>23</td>
        </tr>
        <tr>
            <td>Resolution Type</td>
            <td>23</td>
        </tr>
        <tr>
            <td>Resolution</td>
            <td>23</td>
        </tr>
        <tr>
            <td>Use</td>
            <td>23</td>
        </tr>
        <tr>
            <td>Tilting Capability</td>
            <td>23</td>
        </tr>
        <tr>
            <td>Norad Id</td>
            <td>23</td>
        </tr>
        
        </table>
    </div>
</body>

</html>